*{
    margin: 0;
    padding: 0;
}
.container{
    overflow: hidden;
}
img {
    user-drag: none;
    -webkit-user-drag: none; /* For Safari */
    pointer-events: auto; /* Ensure other interactions still work */
 }