.google-form{
    background-color: #da7d00;
display: flex;
justify-content: center;
overflow: hidden;
}
.google-form > iframe{
    height: 2000px;
    z-index: 80;

}
@media (max-width:650px) {
    .google-form > iframe{
        height: 2200px !important;
    }
}
@media (max-width:400px) {
    .google-form > iframe{
        height: 2400px !important;
    }
}



.blog > .absolute{
    height: 150%;
    position: absolute;
    left: 0px;
    top: -220px;
    opacity: 0.25;
}
.blog > .absolute-2{
    height: 150%;
    position: absolute;
    left: 0px;
    top: 90vh;
    opacity: 0.25;
}
.blog > .absolute-3{
    height: 150%;
    position: absolute;
    left: 0px;
    top: 207vh;
    opacity: 0.25;
}
.abs-1{
    animation: scrollImages 50s linear infinite;
    /* visibility: hidden; */
}
.abs-2{
    animation: scrollImages2 50s linear infinite;
    /* visibility: hidden; */
}