.google-form{
    background-color: #da7d00;
display: flex;
justify-content: center;
overflow: hidden;
}
.google-form > iframe{
    height: 2000px;
}
@media (max-width:650px) {
    .google-form > iframe{
        height: 2200px !important;
    }
}
@media (max-width:400px) {
    .google-form > iframe{
        height: 2400px !important;
    }
}