@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
.red-hat-display{
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dm-sans{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@font-face { 
    font-family: 'Tan'; 
    src: 
        url('../../public/assets/fonts/TAN_MON_CHERI/TAN-MON\ CHERI.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 
.Tan{
    font-family: 'Tan', sans-serif;
}
@font-face { 
    font-family: 'Etna'; 
    src: 
        url('../../public/assets/fonts/etna-free-font/etna-free-font.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 
.Etna{
    font-family: 'Etna', sans-serif;
}
@font-face { 
    font-family: 'Gill'; 
    src: 
        url('../../public/assets/fonts/gill-sans-2-cufonfonts/Gill\ Sans.otf')  
        format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
} 
.Gill{
    font-family: 'Gill', sans-serif;
}