.hero{
    background-color: #380300;
    min-height: 800px;
    overflow: hidden;
    position: relative;
    width: 100%; /* Ensure it fits within the viewport */
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.burger, .van{
    display: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #da7d00;
    width: 80%;
    height: 60px;
    margin-top: 20px;
    border-radius: 50px;
    z-index: 1;
}
nav > ul{
    display: flex;
    margin-right: 40px;
    align-items: center;
}
nav > ul > a > img{
    transition: 200ms ease;
}
nav > ul > a > img:hover{
    transform: scale(1.1);
}
nav > img{
    height: 40px;
    margin-left: 40px;
}

nav > ul > a > img{
    height: 40px;
    margin-left: 70px;
}
.absolute{
    height: 110%;
    position: absolute;
    left: 0px;
    opacity: 0.1;
}
.abs-1{
    animation: scrollImages 50s linear infinite;
    /* visibility: hidden; */
}
.abs-2{
    animation: scrollImages2 50s linear infinite;
    /* visibility: hidden; */
}


@keyframes scrollImages {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(101%); /* Move left by 50% (one image width) */
    }
}
@keyframes scrollImages2 {
    0% {
        transform: translateX(-99%);
    }
    100% {
        transform: translateX(0); /* Move left by 50% (one image width) */
    }
}


.logo{
    width: 800px;
    z-index: 1;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.main > h1{
    font-family: 'Gill', sans-serif;
    color: #da7d00;
    font-weight: 200;
    font-size: 36pt;
    margin-left: 60px;
    margin-top: 20px;
    z-index: 1;
}
.main> a > button{
    color: #380300;
    background-color: #da7d00;
    font-family: 'Etna', sans-serif;
    padding: 12px 32px 20px 32px;
    border-radius: 50px;
    border: none;
    font-size: 20pt;
    margin-top: 50px;
    cursor: pointer;
    border: solid 5px #380300;
    transition: 200ms ease;
    z-index: 98;
    position: relative;
}

.main > a > button:hover{
    background-color: #380300;
    color: #da7d00;
    border: solid 5px #da7d00;
}

@media (max-width: 1000px){
    .logo{
        width: 600px;
    }
    nav{
        width: 90%;
    }
   
}
@media (max-width: 800px){
    .main{
        margin-top: 150px;
    }
    nav{
        display: none;
    }
    .van{
        display: flex;
        position: fixed;
        right: 30px;
        top: 130px;
        z-index: 100;
    }
    
    .van > ul{
        display: flex;
        flex-direction: column;
        width: 60px;
        justify-content: center;
        align-items: center;
    }
    .wrapper > img{
        height: 40px;
    }
    .van > ul > a > img{
        height: 30px;
    }
    .van > ul > a{
        margin: 10px 0px;
        border-radius: 50%;
        background-color: #da7d00;
        padding: 20px;
        box-shadow: #6b3d00 0px 0px 10px 5px;
        /* box-shadow: #6b3d00 0px 10px 10px 10px inset; */
        transition: 200ms ease;
        z-index: 110 !important;
    }
    .burger{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #da7d00;
        padding: 20px;
        height: 50px;
        width: 50px;
        position: fixed;
        right: 16px;
        top: 20px;
        z-index: 120;
        transition: 400ms ease;
        box-shadow: #6b3d00 0px 0px 10px 5px;

    }
    .burger>img{
        height: 40px;
        margin: 0px;
        margin-left: 4px;
    }
   
}
@media (max-width: 650px){
    .main{
        margin-top: 170px !important;
    }
    .logo{
        width: 400px;
    }
    h1{
        margin-left: 20px !important;
        font-size: 30px !important;
    }
    .main > button{
        padding: 12px 32px 20px 32px;
        font-size: 18pt;
        margin-top: 50px;
    }
    .main{
        margin-top: 120px;
    }
    .hero{
        min-height: 700px;
    }
}
@media (max-width: 400px){
    .logo{
        width: 325px;
    }
    .main > h1{
        margin-left: 10px !important;
        font-size: 24pt !important;
    }
    .main > button{
        padding: 10px 15px 16px 19px;
        font-size: 16pt;
        margin-top: 50px;
    }
    .main > a > button{
        font-size: 18pt !important;
    }
}



@media (max-width: 500px){

    .main > a > button{
        margin-bottom: 0px;
    }
}