.why{
    background-color: #da7d00;
    
}

h1{
    font-family: 'Etna', sans-serif;
    font-size: 60pt;
    text-align: center;
    color: #380300;
    padding: 30px 0px;
}
.slides{
    margin-top: 50px;
}